@use "../../styles/variables/styles/index.scss" as *;

.container {
  padding: 20px 10px;
  @include flex(center, center);
  flex-direction: column;
  gap: 2rem;

  .desc {
    text-align: center;
    font-size: 2 * 11px;
    width: 70%;
  }

  .wrapper {
    @include flex(center, center);
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
  }
}
