@use "../../styles/variables/styles/index.scss" as *;

.container {
  background-color: rgba(234, 0, 255, 0.144);
  backdrop-filter: blur(10px);
  height: $navbar-height;
  padding: 0px 50px;
  position: fixed;
  z-index: 99;
  width: 100%;
  @include flex(center, space-between);
  .call {
    gap: 1rem;
  }
  .item {
    flex: 1;
    @include flex(center, unset);
    .callBtn {
      @include flex(center, center);
      border-radius: $circle-radius;
      font-size: 2rem;
      color: $main-color;
      height: 50px;
      width: 50px;
      background-color: $light;
    }
    .cartIcon {
      color: $light;
      font-size: 30px;
      cursor: pointer;
    }
    .list {
      @include flex(center, space-around);
      width: 100%;
      color: $light;
      .listItem {
        font-size: 1rem;
        cursor: pointer;
      }
      h3 {
        font-size: 2rem;
      }
    }
    .texts {
      cursor: pointer;
      color: $light;
      .text:first-child,
      :last-child {
        font-size: 12px;
        font-weight: bold;
      }
      .text:last-child {
        font-size: 20px !important;
      }
    }
  }
  .item:nth-child(2) {
    flex: 3;
  }
  .item:last-child {
    @include flex(center, flex-end);
    .cart {
      position: relative;
      .counter {
        @include flex(center, center);
        border-radius: $circle-radius;
        position: absolute;
        top: -5px;
        right: -5px;
        font-size: 12px;
        color: $main-color;
        width: 15px;
        height: 15px;
        font-weight: bold;
        background-color: $light;
      }
    }
  }
}
